@model PaymentRequestModel



<style>
    .gradient-custom {
        background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #ff0000 100%), linear-gradient(360deg, #0029ff 0%, #8fff00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%), radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
        background-blend-mode: screen, color-dodge, overlay, difference, normal;
    }
</style>
<section class="gradient-custom">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-7 col-lg-5 col-xl-4">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <form method="post" asp-action="Pay" asp-controller="Payment">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="typeText" class="form-control form-control-lg" asp-for="card_number" siez="16"
                                           placeholder="1234567890123457" minlength="16" maxlength="16" />
                                    <label class="form-label" for="typeText">Card Number</label>
                                </div>
                                <img src="https://img.icons8.com/color/48/000000/visa.png" alt="visa" width="64px" />
                            </div>

                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="typeName" class="form-control form-control-lg" asp-for="cc_owner" siez="17"
                                           placeholder="Cardholder's Name" />
                                    <label class="form-label" for="typeName">Cardholder's Name</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-center pb-2">
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="typeExp" class="form-control form-control-lg" asp-for="expiry_month" placeholder="MM"
                                           size="2" minlength="2" maxlength="2" />
                                    <label class="form-label" for="typeExp">Month</label>
                                </div>
                                <div data-mdb-input-init class="form-outline">
                                    <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="YY"
                                           size="2" minlength="2" maxlength="2" />
                                    <label class="form-label" for="typeExp">Year</label>
                                </div>
                                <div data-mdb-input-init class="form-outline">
                                    <input type="password" id="typeText2" class="form-control form-control-lg"
                                           placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" asp-for="cvv" maxlength="3" />
                                    <label class="form-label" for="typeText2">Cvv</label>
                                </div>

                            </div>
                            <div class="form-group mt-2">
                                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-rounded">
                                    <i class="fas fa-arrow-right"></i>
                                    Pay
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>